input[type="text"], input[type="password"]{
    outline: none;
    width: 300px;
    border-radius: 300px;
    border: 1px solid #eee;
    padding: 5px;
  }
  
  input[type="submit"] {
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width:320px;
    border: 0;
    border-radius: 300px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #00b8eb;
  }

  #fondo{
    background-color: white;
  }

  h1{
    text-align: center;
    color:#00708F;
  }
  p{
    color:white; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }

  #portada{
    background: url(../img/index.jpg);
  }

 .semitrasparent{ 
   background: rgba(51, 51, 51, 0.75);
 }

 .centered{
  text-align:center;

 }

 td{
  align-content:center;
  padding:10px;

 }